<h1>THA HOME PAGE</h1>

<% if current_user %>
	<h1 style="color: blue">You are logged in. Go celebrate. This is your own sample app. It's all yours. You're on your way.</h1>
<%else%>
	<h1 style="color: red">You are NOT logged into the promised land. Get to coding. NOW!</h1>
<%end%>